*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", "Droid Sans Fallback", sans-serif;
  font-size: 14px;
}

.main {
  padding: 10px;
}
.panel {
  margin-bottom: 12px;
}

/* HP Bar */
.progress {
  border-radius: 0px;
}
.hp-bar.progress {
  margin: 0;
  height: 22px;
  position: relative;
  background-color: #1F1F1F;
  /* background-color: rgba(0, 0, 0, 0.2); */
}
.hp-bar.progress-bar {
  font-size: 13px;
  line-height: 22px;
  transition: none;
}
.hp-bar.lost.progress-bar {
  background-color: rgba(255, 255, 255, 0.06);
}
.hp-bar.progress-bar > span {
  position: absolute;
  width: 100%;
  display: block;
}
.hp-bar .damage-control {
  content: url("./images/damage-control.png");
  height: 18px;
  overflow: hidden;
}

/* Attack Table */
.attack-table {
  width: 100%;
}
.attack-table-title {
  margin: 0 0 8px;
}
.attack-table-row {
  width: 100%;
  height: 30px;
}
.attack-table-row > span {
  height: 20px;
  margin: 2px;
  text-align: center;
}
.attack-table hr {
  margin: 7px 0 7px;
}

/* Battle Info Panel */
.battle-info-row {
  width: 100%;
  height: 30px;
}
.battle-info-row > span {
  height: 20px;
  margin: 2px;
  text-align: center;
}
.anti-air-tooltip div {
  display: block;
  width: 100%;
}
.battle-info-area hr {
  margin: 7px 0 7px;
}
