#battle-detail-main {
  height: 100%;
  overflow: auto;
}
#battle-detail-main .btn-group {
  display: flex;
}
#battle-detail-main .btn {
  width: 100%;
}
#battle-detail-main .cbtn {
  cursor: pointer;
}
#battle-detail-main .panel {
  margin-bottom: 12px;
}
#battle-detail-main .panel .panel-title {
  font-size: inherit;
}
#battle-detail-main .panel .container {
  width: 100%;
  padding: 0;
}
#battle-detail-main .panel .row {
  margin: 0;
}
#battle-detail-main .panel .col {
  padding: 0;
}
#battle-detail-main .pagination {
  display: flex;
  margin: auto;
  width: fit-content;
}
#battle-detail-main .progress {
  border-radius: 0px;
}
#battle-detail-main .progress-bar {
  transition: none;
}
#battle-detail-main .progress-bar > span {
  position: absolute;
  width: 100%;
  display: block;
}

#battle-detail-main .poi-ship-cond-0 {  /* cond 0~19  */
  color: #DD514C;
  font-weight: bold;
}
#battle-detail-main .poi-ship-cond-20 { /* cond 20~29 */
  color: #F37B1D;
}
#battle-detail-main .poi-ship-cond-50 { /* cond 50~100 */
  color: #FFFF40;
}
#battle-detail-main img.png {
  height: 16px;
  margin-top: -4px;
}
#battle-detail-main img.svg {
  height: 16px;
  margin-top: -4px;
}

#battle-detail-main #main {
  padding: 10px;
}
#battle-detail-main .nav-tabs {
  display: flex;
}
#battle-detail-main .nav-tabs li {
  flex: 1;
  text-align: center;
}

#battle-detail-main #detail-area .row {
  width: 100%;
  height: 30px;
  display: flex;
  white-space: nowrap;
}
#battle-detail-main #detail-area .panel .row > span {
  height: 20px;
  margin: 2px;
  text-align: center;
  overflow: hidden;
}

#battle-detail-main /* HP Bar */
#battle-detail-main .hp-bar.progress {
  margin: 0;
  height: 22px;
  position: relative;
  background-color: #1F1F1F;
  /* background-color: rgba(0, 0, 0, 0.2); */
}
#battle-detail-main .hp-bar.progress-bar {
  font-size: 100%;
  line-height: 22px;
}
#battle-detail-main .hp-bar.lost.progress-bar {
  background-color: rgba(255, 255, 255, 0.1);
}
#battle-detail-main .hp-bar img {
  margin-left: -4px;
  margin-right: -4px;
}

#battle-detail-main /* Fleet View */
#battle-detail-main .fleet-title {
  font-size: 110%;
}
#battle-detail-main .fleet-view .col-xs-1,
#battle-detail-main .fleet-view .col-xs-2,
#battle-detail-main .fleet-view .col-xs-3,
#battle-detail-main .fleet-view .col-xs-4,
#battle-detail-main .fleet-view .col-xs-5,
#battle-detail-main .fleet-view .col-xs-6,
#battle-detail-main .fleet-view .col-xs-7,
#battle-detail-main .fleet-view .col-xs-8,
#battle-detail-main .fleet-view .col-xs-9,
#battle-detail-main .fleet-view .col-xs-10,
#battle-detail-main .fleet-view .col-xs-11,
#battle-detail-main .fleet-view .col-xs-12 {
  padding: 0;
}
#battle-detail-main /* Ship View */
#battle-detail-main .ship-view.container {
  padding: 10px;
}
#battle-detail-main .ship-view .row {
  height: 22px;
}
#battle-detail-main .ship-view .ship-name {
  font-size: 110%;
}
#battle-detail-main .ship-view .ship-info,
#battle-detail-main .ship-view .ship-fa {
  font-size: 90%;
  opacity: 0.8;
}
#battle-detail-main /* LBAC View */
#battle-detail-main .lbac-view.container {
  padding: 10px;
}
#battle-detail-main .lbac-view .row {
  height: 22px;
}
#battle-detail-main /* Item View */
#battle-detail-main .item-view {
  overflow: hidden;
  display: flex;
}
#battle-detail-main .item-view.row {
  height: 22px;
}
#battle-detail-main .item-view .item-info {
  position: relative;
  flex: 1;
}
#battle-detail-main .item-view .item-attr {
  display: table;
  width: 40px;
}
#battle-detail-main .item-view .level {
  display: inline-block;
  width: 28px;
  color: #45A9A5;
  font-weight: bold;
}
#battle-detail-main .item-view .alv {
  display: inline-block;
  width: 12px;
}
#battle-detail-main .item-view .alv img {
  height: 16px;
}
#battle-detail-main .item-view .item-icon img.png {
  height: 26px;
}
#battle-detail-main .item-view .item-icon img.svg {
  height: 18px;
}
#battle-detail-main .item-view .number {
  background-color: rgba(33, 33, 33, 0.701961);
  position: absolute;
  border-radius: 9px;
  text-align: center;
  font-size: 80%;
  bottom: 0;
  left: 0;
  height: 16px;
  width: 16px;
}

#battle-detail-main /* Stage Table */
#battle-detail-main .stage-title {
  font-size: 110%;
  margin: 0 0 8px;
}
#battle-detail-main .stage-table hr {
  margin: 7px 0 7px;
}
#battle-detail-main /* Engagement Table */
#battle-detail-main .engagement-row > span {
  flex: 1;
}
#battle-detail-main /* Aerial Table */
#battle-detail-main .aerial-row .anti-air-tooltip div {
  display: block;
  width: 100%;
}
#battle-detail-main .aerial-row > span:nth-child(1),
#battle-detail-main .aerial-row > span:nth-child(5) {
  flex: 6;
}
#battle-detail-main .aerial-row > span:nth-child(2),
#battle-detail-main .aerial-row > span:nth-child(3),
#battle-detail-main .aerial-row > span:nth-child(4) {
  flex: 7;
}
#battle-detail-main /* Attack Info */
#battle-detail-main .critical {
  color: #FFFF00;
}
#battle-detail-main .position-indicator {
  font-size: 80%;
}
#battle-detail-main .attack-row > span:nth-child(1),
#battle-detail-main .attack-row > span:nth-child(4),
#battle-detail-main .attack-row > span:nth-child(7) {
  flex: 6;
}
#battle-detail-main .attack-row > span:nth-child(2),
#battle-detail-main .attack-row > span:nth-child(6) {
  flex: 7;
}
#battle-detail-main .attack-row > span:nth-child(3),
#battle-detail-main .attack-row > span:nth-child(5) {
  flex: 1;
}

#battle-detail-main /* Browse Area */
#battle-detail-main #browse-area .tip {
  font-size: 80%;
}

#battle-detail-main #browse-area .tip .markdown p {
  margin-bottom: .4em;
}


#battle-detail-main table .btn,
#battle-detail-main table .form-control {
  height: 20px;
  padding: 0 4px;
}
#battle-detail-main #browse-filter-usage {
  max-width: 600px;
}
#battle-detail-main .browse-table tr > th:nth-child(1) {
  width: 5%;
}
#battle-detail-main .browse-table tr > th:nth-child(2) {
  width: 20%;
}
#battle-detail-main .browse-table tr > th:nth-child(3) {
  width: 25%;
}
#battle-detail-main .browse-table tr > th:nth-child(4) {
  width: 10%;
}
#battle-detail-main .browse-table tr > th:nth-child(5) {
  width: 10%;
}
#battle-detail-main .browse-table tr > th:nth-child(6) {
  width: 10%;
}
#battle-detail-main .browse-table tr > th:nth-child(7) {
  width: 10%;
}

#battle-detail-main #main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#battle-detail-main #main-tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#battle-detail-main #main-tabs > .tab-content {
  flex: 1;
  height: 0;
  display: flex;
  flex-direction: column;
}

#battle-detail-main #main-tabs > .tab-content > #main-tabs-pane-1 {
  flex: 1;
  height: 0;
}

#battle-detail-main #main-tabs > .tab-content > #main-tabs-pane-1 #browse-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: .5em;
}

#battle-detail-main #main-tabs > .tab-content > #main-tabs-pane-1 #browse-area > .browse-view {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#battle-detail-main #main-tabs > .tab-content > #main-tabs-pane-1 #browse-area > .browse-view > .panel-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#battle-detail-main #main-tabs > .tab-content > #main-tabs-pane-1 #browse-area > .browse-view > .panel-body .sortie-viewer-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#battle-detail-main .replay-render-root .fleet-view.single-fleet > .ship-avatar-container {
  margin: 5px;
}

#battle-detail-main .theme-darkly .replay-render-root {
  background-color: #303030;
}

#battle-detail-main .theme-slate .replay-render-root {
  background-color: #2e3338;
}

#battle-detail-main .theme-superhero .replay-render-root {
  background-color: #546575;
}

#battle-detail-main .theme-lumendark .replay-render-root {
  background-color: #555555;
}

#battle-detail-main .theme-paperdark .replay-render-root {
  background-color: #303030;
}

#battle-detail-main .theme-papercyan .replay-render-root {
  background-color: #222222;
}

#battle-detail-main .theme-paperblack .replay-render-root {
  background-color: #424242;
}

#battle-detail-main .theme-darklykai .replay-render-root {
  background-color: #222222;
}
