#prophet table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#prophet table tr td {
  padding-bottom: 0px;
  border: none;
}
#prophet .progress {
  border-radius: 0px;
  background-color: inherit;
}
#prophet .hp-progress .progress {
  height: 22px;
}
#prophet .hp-progress .progress .progress-bar {
  font-size: 13px;
  line-height: 22px;
}
#prophet .hp-progress .progress {
  position: relative;
  margin-bottom: 1px;
}
#prophet .hp-progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}
#prophet .table {
  margin-bottom: 3px;
}
#prophet .panel {
  margin: 0;
}
#prophet .panel-body {
  padding: 6px;
  text-align: center;
}
#prophet .prophet-info-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#prophet .ship-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
#prophet .attack-damage {
  flex: none;
}
#prophet .prophet-info-name {
  text-shadow: none;
}
#prophet .navigation-bar-airplane {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#prophet .compass {
  text-align: center;
}
#prophet .compass-arrow {
  width: 1em;
  margin-bottom: -0.14em;
  margin-left: -0.14em;
  overflow: visible;
}
#prophet span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
