
#prophet table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#prophet table tr td {
  padding-bottom: 0px;
  border: none;
}
#prophet .progress {
  border-radius: 0px;
  background-color: inherit;
}
#prophet .hp-progress .progress {
  height: 22px;
}
#prophet .hp-progress .progress .progress-bar {
  font-size: 13px;
  line-height: 22px;
}
#prophet .hp-progress .progress {
  position: relative;
  margin-bottom: 1px;
}
#prophet .hp-progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}
#prophet .table {
  margin-bottom: 8px;
}
#prophet .alert {
  margin: 0px 6px;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  background-color: #464545;
  border-color: #464545;
  color: #fff;
}
#prophet .alert > span{
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
#prophet .prophet-info-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#prophet .ship-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
#prophet .attack-damage {
  flex: none;
}
#prophet .prophet-info-name {
  text-shadow: none;
}
#prophet .navigation-bar-airplane {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navigation-bar-airplane > span {
  line-height: 30px;
  height: 30px;
  display: inline-block;
}
.navigation-bar-airplane > span span{
  display: inline-block;
}
#prophet span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#prophet .fa {
  line-height: inherit;
}
