.progress {
  border-radius: 0px;
  background-color: #2f2f2f;
}
.hp-bar.progress {
  height: 22px;
  position: relative;
  margin: 0;
}
.hp-bar.progress .progress-bar {
  font-size: 13px;
  line-height: 22px;
}
.hp-bar.progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}
.attack-table th, .attack-table td {
  text-align: center;
}